<h3>Administration Tools</h3>

<form class ="link" action="/servers">
  <input class="main" type="submit" value="See Employee List">
</form>

<form class ="link" action="/items/edit">
  <input class="main" type="submit" value="See Menu">
</form>

<form class ="link" action="/">
  <input class="main" type="submit" value="Return to Homepage">
</form>
