<h1 id ="homepage"> Hotel Albatross</h1>




<div class ="row">
<div id="main-buttons" class = "ten columns" >
<form class = "link" action="/parties/new">
     <input class="main" type="submit" value="Open New Ticket">
 </form>

 <form class = "link" action="/items/foods">
      <input type="submit" class="main"value="View Food Menu">
  </form>

  <form class ="link" action="/items/drinks">
       <input type="submit" class="main" value="View Drink Menu">
   </form>
   </div>


<div class = "two columns" >
<section class="parties">
  <h3>Open Tickets</h3>

  <ul>
    <% @parties.each do |party| %>
      <li>
        <a class= "table-list" href="/parties/<%= party.id %>">Table Number <%= party.table_number %></a>
        <form action="/parties/<%= party.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class= "table-list" type="submit"> Remove </button>
        </form>
      </li>
    <% end %>

  </ul>
  <form class ="link" action="/parties">
  <input type="submit" value="See All Parties">
   </form>
 
</section>
</div>
</div>
