
<h1 id ="homepage"> Hotel Albatross</h1>




<div class = "row">
  <div class ="ten columns">
<div class = "main-buttons">
<form class = "link" action="/parties/new">
     <input class="main" type="submit" value="Open New Ticket">
 </form>
 </div>
<div id = "menu-open-modal" class = "main-buttons">
  <input  type="submit" class="main"value="View Menus">
      <div class="modal">
        <div class="menu-modal-content">
          <span id="menu-close-modal">X</span>
          <div class="menu-modal-body">
            <form class = "link" action="/items/foods">
                <input type="submit" class="main"value="View Food Menu">
              </form>
              <form class ="link" action="/items/drinks">
                   <input type="submit" class="main" value="View Drink Menu">
               </form>
          </div>
        </div>
      </div>
    </div>
<div id = "orders-open-modal" class = "main-buttons">
<input type="submit" class="main"value="View Order Status">
    <div class ="modal">
      <div class="orders-modal-content">
        <span id="orders-close-modal">X</span>
        <div class="orders-modal-body">
          <form class = "link" action="/orders/kitchen">
              <input type="submit" class="main"value="Check the Kitchen">
            </form>
            <form class ="link" action="/orders/bar">
                 <input type="submit" class="main" value="Check the Bar">
             </form>
        </div>
      </div>
    </div>
 </div>
</div>


<div class = "two columns" >
<section class="parties">
  <h3>Open Tickets</h3>

  <ul>
    <% @parties.each do |party| %>
      <li>
        <a class= "table-list" href="/parties/<%= party.id %>">Table Number <%= party.table_number %></a>
        <form action="/parties/<%= party.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class= "table-list" type="submit"> Remove </button>
        </form>
      </li>
    <% end %>

  </ul>
  <form class ="link" action="/parties">
  <input type="submit" value="See All Parties">
   </form>

</section>
</div>
</div>
