body {
  background-image: url("/images/AshBackground.jpg");
  color: pink;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  text-align: center;
}

.container {
  background-color: seagreen;
  height: 800px;
  margin-top: 1%;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 90px;
  color: lightpink;
  float: left;
  margin-left: 10%;
  margin-top: 7%;
}

h3{
  font-family: 'Megrim', cursive;
}

button {
  background-color: ghostwhite;
}

input {
  background-color: ghostwhite;
}

.parties{
  border: 2px dotted ghostwhite;
  list-style: none;
  width: 100%;
  margin-left: -20%;
}

.parties a{
  color: navajowhite;
}

 .table-list[type ="sumbit"] {
  height: 10%;
  width: 20px;
}



form {
  display: inline;
}

 .main[type = "submit"] {
  background-color: ghostwhite;
  height: 175px;
  width: 175px;
  display: inline;
  margin: 5%;
  margin-top: 15%;
  font-size: 16px;
}


#table_input{
  margin-left: 25%;
  margin-right: 25%;
}

#empty{
  background-color: ghostwhite;
}

#open{
  background-color: hotpink;
}

.table {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: inline;
  margin-top: 15%;
  font-size: 18px;
  color: seagreen;
  padding: 10%;
  text-align: center;
  border: 4px solid white;
}

#floor {
  margin-top: 10%;
  margin-left: 15%;
}

.remove-menu-item[type="submit"]{
  height: 3%;
  width: 5%;
}

h3 .item-menu {
  font-size: 3em;

}
