body {
  background-image: url("/images/AshBackground.jpg");
  color: pink;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  text-align: center;
}

.container {
  background-color: rgba(22, 94, 70, 0.95);
  height: 110%;
  margin-top: 1%;
  border-radius: 10px;
  border: 4px dotted lightpink;
  padding-bottom: 10%;
  margin-bottom: 1%;
}

.main-modal[type="submit"]{
  background-color: ghostwhite;
  height: 150px;
  width: 150px;
  display: inline;
  margin: 5%;
  margin-top: 15%;
  font-size: 1em;
  border: 2px solid pink;
  border-radius: 10px;
}

.divider{
  height: 2em;
  width: 100%
}

.divider-img{
 width: 40%;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 6em;
  color: lightpink;
  float: left;
  margin-left: 10%;
  margin-top: 7%;
}

h2 {
  font-family: 'Megrim', cursive;
  font-size: 4.5em;
  padding-top: 5%;
}

.admin-link{
  width: 12%;
  margin-left: 82%;
  margin-right: 6%;
  margin-top: 5%;
}

h3{
  font-family: 'Megrim', cursive;
}

h3[class="tableshow"] {
  font-size: 3em;
}

h5[class="tableshow"] {
  line-height: 1em;
  font-size: 1.4em;
}

.tableshowelement{
  font-size: 1.4em;
  line-height: 1em;
  display: inline;
}

.ticket-item[type="submit"]{
  border: 1px solid pink;
  border-radius: 50%;
  height:1.5em;
  width: 1.5em;
  line-height: .75em;
  text-align: center;
  font-size: .75em;
  color: pink;
  background-color: rgba(214, 210, 213, 0)
}

.server-submit{
  margin: 5%;
}

.order{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  color: dimgrey;
  border-radius: 20px;
}

.index-table{
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  display: inline;
  margin: 50%;
  font-size: 18px;
  color: seagreen;
  padding: 10%;
  text-align: center;
  border: 4px solid white;
}

#order-submit {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  border: .25em solid grey;
  background-color: lightpink;
}

#index-floor{
  width: 70%;
  margin-right: 15%;
  margin-left: 37%;
}
.order-input {
  margin-top: 3%;
  margin-bottom: 3%;
}

div[class="modal-div"]{
 box-sizing: border-box;
}

button[class="modal-style"]{
  margin-left: 45%;
  margin-right: 45%;
  width: 10%;
  height: 5%;
  background-color: pink;
  border: 2px solid dimgrey;
  border-radius: 20px;
  color: dimgrey;
  font-size: 1.25em;
}

.modal {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

#receipt-close-modal {
  position: absolute;
  left: 96%;
  z-index: 2;
  font-size: 1.5em;
  border-radius: 25px;
  border: 3px solid seagreen;
  height: 1em;
  width: 2.25em;
  text-align: center;
  background-color: lightpink;
  line-height: 1;
  color: seagreen;
}

#menu-close-modal {
  position: absolute;
  left: 96%;
  z-index: 2;
  font-size: 1.5em;
  border-radius: 25px;
  border: 3px solid seagreen;
  height: 1em;
  width: 1em;
  text-align: center;
  background-color: lightpink;
  line-height: 1;
  color: seagreen;
}

#orders-close-modal {
  position: absolute;
  left: 96%;
  z-index: 2;
  font-size: 1.5em;
  border-radius: 25px;
  border: 3px solid seagreen;
  height: 1em;
  width: 1em;
  text-align: center;
  background-color: lightpink;
  line-height: 1;
  color: seagreen;
}

#receipt-close-modal:hover {
  cursor: pointer;
}

#menu-close-modal:hover {
  cursor: pointer;
}

#orders-close-modal:hover {
  cursor: pointer;
}

.receipt-modal-content {
  position: relative;
  margin: 0 35%;
  background-color: white;
  top: 10%;
  width: 25%;
}

.menu-modal-content {
  position: relative;
  margin: 0 30%;
  top: 20%;
  width: 40%;

}

.orders-modal-content {
  position: relative;
  margin: 0 30%;
  top: 20%;
  width: 40%;
}

.receipt-modal-body {
  position: absolute;
  width: 100%;
  top: 10px;
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  z-index: 1;
  color: seagreen;
}

.menu-modal-body {
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: 1;
  color: seagreen;
  background-image: url("/images/AshBackground.jpg");
  padding-bottom: 10px;
  border: 4px solid black;
  border-radius: 10px;
}

.orders-modal-body {
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: 1;
  color: seagreen;
  background-image: url("/images/AshBackground.jpg");
  opacity: 10%;
  padding-bottom: 10px;
  border: 4px solid black;
  border-radius: 10px;
}

button {
  background-color: ghostwhite;
}

input {
  background-color: ghostwhite;
}

input[type="submit"] {
  background-color: ghostwhite;
}

select {
  color: seagreen;
}

.parties{
  border: 2px dotted ghostwhite;
  list-style: none;
  width: 100%;
  margin-left: -40%;
}

.parties a{
  color: navajowhite;
}

 .table-list[type ="sumbit"] {
  height: 10%;
  width: 20px;
}

form {
  display: inline;
}

 .main[type = "submit"] {
  background-color: ghostwhite;
  height: 175px;
  width: 175px;
  display: inline;
  margin: 5%;
  margin-top: 15%;
  font-size: 1em;
  border: 2px solid pink;
  border-radius: 10px;
}


#table_input{
  margin-left: 25%;
  margin-right: 25%;
}

#empty{
  background-color: ghostwhite;
}

#open{
  background-color: rgb(241, 196, 35);
}

.table {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: inline;
  margin-top: 15%;
  font-size: 18px;
  color: seagreen;
  padding: 10%;
  text-align: center;
  border: 4px solid white;
}

#floor {
  margin-top: 10%;
  width: 80%;
  margin-left:24%;
  margin-right: 20%;
}

.remove-menu-item[type="submit"]{
  height: 3%;
  width: 5%;
}

h3 .item-menu {
  font-size: 3em;
}

.main-buttons{
  display: inline;
}

@media (min-width : 200px) and (max-width : 376px){

  .container{
    width: 90%;
  }

h1{
  font-size: 3.5em;
  text-align: center;
  margin-left: -3%;
  margin-bottom: .5%;
}

  .index-table{
    border-radius: 50%;
    height: 2.8em;
    width: 2.8em;
    display: inline;
    margin: 5%;
    font-size: .75em;
    color: seagreen;
    padding: 2%;
    text-align: center;
    border: .2em solid white;
  }

  .parties{
    border: 2px dotted ghostwhite;
    list-style: none;
    width: 185%;
    margin-left: 30%;
}

h2{
  font-size: 2.5em;
  margin-bottom: 2px;
}

h3{
  font-size: 2em;
  margin-top: 2%;
  margin-bottom: 1%;
}

h5{
  font-size: .75em;
  margin-bottom: 1px;
}

.one {
  width: 70%;
  margin-left: -30%;
  padding: 1%;
}

.main[type = "submit"] {
 background-color: ghostwhite;
 width: 60%;
 display: inline;
 margin: 5%;
 margin-top: 5%;
 padding: 3%;
 height: 40%;
}

li{
  margin: 0%;
}

.table-list{
  font-size: 1em;
  margin-bottom: 1%;

}

.table-list[type ="submit"]{
  font-size: .5em;
  height: 15px;
  line-height: .5em;
  padding: 1%;
}

.table {
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  display: inline;
  margin-top: 5%;
  font-size: .75em;
  color: seagreen;
  text-align: center;
  border: 1% solid white;
}

.two{
  width: 40%;
}

button[class="modal-style"]{
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  height: 5%;
  background-color: pink;
  border: 2px solid dimgrey;
  border-radius: 20px;
  color: dimgrey;
  font-size: .75em;
}
select {
  height: 7%;
}

h3[class="tableshow"] {
  font-size: 2.75em;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
}

.receipt-modal-content {
  position: relative;
  margin: 0 25%;
  background-color: white;
  top: 10%;
  width: 50%;
}

h5[class="receipt"]{
  font-size: 1.2em;
}

h5[class="receipt-total"]{
  font-size: 1.45em;
  margin-top: 10%;
  margin-bottom: 7%;
}

  .menu-modal-content {
    position: relative;
    margin: 0 25%;
    top: 20%;
    width: 50%;
  }

  .orders-modal-content {
    position: relative;
    margin: 0 25%;
    top: 20%;
    width: 50%;
  }

  .order{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: dimgrey;
    border-radius: 20px;
    font-size: 1em;
  }

  .order-up[type="submit"]{
    font-size: .5em;
    width: 20%;
    line-height: .75em;
    height: 1%;
  }

  .tip{
    font-size: .75em;
  }

  .admin-link{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
  }

  .servers {
    font-size: 1.3em;
  }

  .item-name{
    font-size: 1.4em;
  }

  .main-modal[type="submit"]{
    background-color: ghostwhite;
    width: 70%;
    display: inline;
    margin: 5%;
    margin-top: 5%;
    padding: 3%;
    height: 40%;
  }
  #index-floor{
    margin-left: 33%;
  }
}
