<h3> Enter New Server Information </h3>

<form action="/servers" method="post">
  <input type="text" name="server[name]" placeholder="New Server's Name">
  <input type="text" name="server[dob]" placeholder="New Server's Date of Birth">
  <input type="submit" value="NOW GET TO WORK">
</form>

<br/>
<br/>

<form class = "link" action="/">
  <input type="submit" value="Home">
</form>
