<h3> Enter New Ticket Information </h3>


<form action="/parties" method="post">
  <input type="text" name="party[table_number]" placeholder="Table Number">
  <input type="text" name="party[num_in_party]" placeholder="Number in Party">
  <input type="submit" value="Let's Boogie">
</form>
