<h2> KITCHEN ORDERS</h2>

<%@orders.each do |order|%>

 <%if order.item.category == "foods"%>
  <% if order.status == 'open' %>
  <h5 class = 'order' data-start-time= "<%=order.created_at%>"> Table Number: <%= order.party.table_number%> - <%= order.item.name %> </h5>


  <form action="/orders/kitchen/<%=order.id%>" method="post">
    <input class ="order-up"type="submit" value="ORDER UP">
    </form>
 <%end%>
<%end%>
<%end%>
<br>
<div class= "divider"> <img class ="divider-img" src="/images/zzzzz line-divider copy.png"> </div>
<form class ="link" action="/parties">
<input type="submit" value="Back To All Parties">
 </form>

 <form class = "link" action="/">
      <button  type="submit" value="Home"> Home </button>
  </form>
