<h2 class="item-menu">MENU</h2>

<div class ="row">
  <% @items.each_with_index do |item, index| %>
    <div class = "item-show six columns">
      <h3><%= item.name %></h3>
      <h5><%= item.sub_category %>   $<%= ('%.2f' % (item.price)) %></h5>
      <p><%= item.description %></p>
    </div>
    <% if (index+1)%2 == 0%>
      </div>
      <div class ="row">
    <%end%>
  <%end%>
</div>

<form class = "link" action="/items/new">
  <input type="submit" value="Add New Item">
</form>

<form class = "link" action="/items/edit">
  <input type="submit" value="Edit the Menu">
</form>

<form class = "link" action="/">
  <input type="submit" value="Home">
</form>
